/* ENTRY PAGE */
html {
    background-color: #E0BCE7;
}

body {
    overflow: hidden;
}

.entry-shape-round {
    position: absolute;
    height: 150%;
    width: 70%;
    left: 30%;
    border-radius: 100% 0% 0% 100%;

    background: #000000;
    z-index: 1;
}

.entry-main-text {
    position: absolute;
    z-index: 2;
    left: 25% !important;
    padding-bottom: 5%;
}

.entry-team-number {
    left: 40.07%;
    right: 51.39%;
    top: 35.74%;
    bottom: 59.77%;

    font-style: normal;
    font-weight: 800;
    font-size: 34px;
    line-height: 46px;
    letter-spacing: 0.22em;
    font-family: 'Manrope', sans-serif;

    color: #FFFFFF;
}

.entry-logo {
    position: absolute;
    width: 350px;
    height: 350px;
    border-radius: 100%;
    right: 60%;

    z-index: 3;
    top: 50%;
    margin: 0;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.entry-title {
    font-family: Raleway;
    font-weight: 900;
    font-size: 80px;
    line-height: 100px;
    letter-spacing: 0.3em;
    -webkit-text-stroke-width: 3.5px;
    -webkit-text-stroke-color: #E0BCE7;
    color: #000000;

    font-family: 'Raleway', sans-serif;
}

.entry-enter {
    position: absolute;
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
    font-style: bold;
    font-weight: 800;
    letter-spacing: 0.22em;
    text-emphasis-color: #000000;

    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;

    background: #E0BCE7;
    border-radius: 10px;
    border: none;
}

.entry-enter:hover {
    background: #E0BCE7;
}

.vertical-center {
    position: absolute;
    top: 50%;
    margin: 0;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

/* HOME PAGE */