@import url("https://fonts.googleapis.com/css?family=Raleway:400,500,700");

body {
    overflow: hidden;
    background-color: #E0BCE7;
    overflow-y: auto; /* Show scrollbar */
    font-family: raleway;
}

/* ENTRY PAGE */

.entry-shape-round {
    position: absolute;
    height: 150%;
    width: 70%;
    left: 30%;
    border-radius: 100% 0% 0% 100%;

    background: #000000;
    z-index: 1;
}

.entry-main-text {
    position: absolute;
    z-index: 2;
    left: 25% !important;
    padding-bottom: 5%;
}

.entry-team-number {
    font-style: normal;
    font-weight: 800;
    font-size: 34px;
    line-height: 46px;
    letter-spacing: 0.22em;
    font-family: 'Manrope', sans-serif;
    color: #FFFFFF;
}

.entry-logo {
    position: absolute;
    width: 350px;
    height: 350px;
    border-radius: 100%;
    right: 60%;

    z-index: 3;
    top: 50%;
    margin: 0;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.entry-title {
    font-family: Raleway;
    font-weight: 900;
    font-size: 80px;
    line-height: 100px;
    letter-spacing: 0.3em;
    -webkit-text-stroke-width: 3.5px;
    -webkit-text-stroke-color: #E0BCE7;
    padding-bottom: 10px;
    color: #000000;

    font-family: 'Raleway', sans-serif;
}

.entry-enter {
    position: absolute;
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
    font-style: bold;
    font-weight: 800;
    letter-spacing: 0.22em;
    text-emphasis-color: #000000;
    text-decoration: none;
    color: #000000;

    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;

    background: #E0BCE7;
    border-radius: 10px;
    border: none;
    transition: 0.3s
}

.entry-enter:hover {
    background: #FFFFFF;
    color: #000000;
}

.vertical-center {
    position: absolute;
    top: 50%;
    margin: 0;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

/* HOME PAGE */

.home-temp-text {
    padding: 5%;
}

/* TAROHACKS PAGE */

.tarohacks-center-div {
    max-width: 700px;
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.tarohacks-heading-background {
    background-color: white;
    border-radius: 10px;
    margin-bottom: 35px;
}

.tarohacks-heading-text {
    padding: 10px 30px 10px 30px;
    font-family: Raleway;
    font-size: 50px;
    line-height: 70px;
    letter-spacing: 0.3em;
}

.tarohacks-main-info {
    padding-bottom: 20px;
}

  /* Sponsors Image Grid */
  * {
    box-sizing: border-box;
  }
.row {
  display: -ms-flexbox; /* IE 10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE 10 */
  flex-wrap: wrap;
  padding: 10px;
  max-width: 700px;
  justify-content: center;
}

.column {
  -ms-flex: 50%; /* IE 10 */
  flex: 50%;
  padding: 0 4px;
  justify-content: center;
  padding-left: 0;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  border-radius: 5%;
  background-color: white;
  padding: 5px;
}

/* Judges Image Grid */
.flex-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #e0bce7;
  justify-content: center;
}

.flex-container > div {
  background-color: white;
  border-radius: 5%;;
  width: 40%;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
}

.flex-container img {
  margin-top: 10px;
  width: 75%;
  vertical-align: middle;
  border-radius: 50%;
  border-width: 2px;
  border-style: solid;
  border-color: black;
}

/* Create two equal columns that floats next to each other */
.schedule_column {
  float: left;
  width: 50%;
  padding: 10px;
  text-align: center;
}

/* Clear floats after the columns */
.schedule_row:after {
  content: "";
  display: table;
  clear: both;
}

.footer-flex {
  display: flex;
  justify-content: center;
  background-color: #1E2832;
	color: rgba(255, 255, 255, 0.75); 
  padding-bottom: 0px; 
}

.footer-flex > div {
  background-color: #1E2832;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  padding-bottom: 0px;
  padding-top:0px;
  font-family: raleway;
}
